/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
footer {
  margin-top:auto;
  width: 100%;
  height:auto;
  white-space: nowrap;
  background-color:#DBD0C5;
  position:absolute;
  bottom:0;
}
.footer1 {
    width: 30%;
    margin-left: 3%;
    height: 100%;
    float: left;
    font-family: "Merienda";
    font-size: 1.5em;
    font-weight: 300;
    color: black;
    text-align: left;
    padding: 1%;
}
@media screen and (max-width:768px) {
    .footer1 {
        font-size: 1.25em;
        margin-left: 0;
        margin-right: 3%;
        padding-top: 5%;
    }
}