@model Patisserie.ViewModels.CategoryFilterViewModel

@{
    ViewData["Title"] = "CATEGORIES";
}

<h1 id="category">CATEGORIES</h1>

<button class="add" style="margin-left:5%">
    <a asp-action="Create">Create New</a>
</button>
<form asp-controller="Categories" asp-action="Index" method="get">
    <div class="form-group" style="margin-top:0; margin-left:5%; display: flex; align-items: center;">
        <input type="text" id="searchCategory" asp-for="searchString" placeholder="Search by category name..." />
        <input type="submit" value="Search" class="add submitBtn" />
    </div>
</form>
<section id="categories">
    @foreach (var item in Model.Categories)
    {
        <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.CategoryId">
            <div class="card bg-dark text-white categoryCard">
                <div class="dark-overlay"></div>
                <img src="@Html.DisplayFor(modelItem => item.CategoryImage)" class="card-img" alt="@Html.DisplayFor(modelItem => item.Name)">
                <div class="card-img-overlay">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Name)
                    </h5>
                </div>
            </div>
        </a>
}
</section>

